captures/*
*.smp
profiler.txt
foo
*.obj
!srcdata/*.obj
*.err
*.lnk
!u_smp11b/*/*.lnk
!u_smp11b/*/*.lib
*.mbr
*.d
*.db
log.txt
win/**
dos/**
*.sublime-workspace

/**/.vs/*
/**/x64/**
/**/obj/**
/**/Debug/**
/**/Release/**
/**/Final/**
/.vscode/
*.opendb
*.user

!utils/*

*.vtcache
.DS_Store

vs/Debug/*
vs/Release/*
.vs/*

ss/*

*.args.json
tdconfig.td

*.tiled-project
*.tiled-session
